@model IEnumerable<Garage_2._0.Models.Member>

@{
    ViewData["Title"] = "Members Overview";
}

<h1>Members Overview</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Register new member</a>
</p>
<
@foreach (var item in Model) {
<div class="card rounded">
    <div class="card-header">
        <h4>@item.Name.FullName</h4>
    </div>
    <div class="card-body">
        <p>
            Parked Vehicle:

            @item.Vehicles.ToList()[0].
        </p>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@item.SocialSecurityNumber">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.SocialSecurityNumber">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.SocialSecurityNumber">Delete</a>
    </div>
</div>
}


