@using Garage_2._0.Validation

@model PaginatedList<Garage_2._0.Models.MemberOverViewModel>
@{
    ViewData["Title"] = "MemberOverviewIndex";
}

<h1 class="text-primary text-center">MemberOverview</h1>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="error">
        <i class="fas fa-exclamation-triangle pe-1"></i>@TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-lable="Close"></button>
    </div>
}

<form asp-action="MemberOverviewIndex">
    <div class="input-group mb-3 mt-1">
        <input type="text"  class="form-control" name="ssn" placeholder="Enter Social security number to search" @ViewBag.CurrentFilter="ssn"/>
        
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>

<table class="table table-bordered table-striped border-3 border-dark design">
    <thead>
        <tr>
            <th>
                @Html.DisplayFor(model=>model.SocialSecurityNumber)
            </th>
            
           <th>
                <a asp-action="MemberOverviewIndex" asp-route-sortOrder="@ViewBag.NameSortParm" asp-route-currentFilter="@ViewBag.CurrentFilter">@Html.DisplayFor(model=>model.FirstName) </a>
                @{
                    if(ViewBag.NameSortParm=="")
                    {
                        
                        <i class='fa fa-sort-down fa-2x' style="color:blue"></i>
                }
                else
                {
                <i class='fa fa-sort-up fa-2x' style="color:blue"></i>
                }
                 }
            </th>
            <th>
                @Html.DisplayFor(model=>model.LastName)
            </th>
            <th>
                @Html.DisplayFor(model=>model.Membership)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SocialSecurityNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Membership)
            </td>
            <td>    
            <a asp-action="Edit" asp-route-id="@item.SocialSecurityNumber"><i class='fa fa-edit fa-2x' style="color:blue"></i></a> &nbsp;
                <a asp-action="Delete" asp-route-id="@item.SocialSecurityNumber"><i class='fa fa-trash fa-2x' style="color:blue"></i></a>
            </td>
                        
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="MemberOverviewIndex"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-currentFilter="@ViewBag.CurrentFilte"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default text-primary @prevDisabled">
    Previous
</a>
<a asp-action="MemberOverviewIndex"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-currentFilter="@ViewBag.CurrentFilte"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default text-primary @nextDisabled">
    Next
</a>
@*@if (ViewBag.Button != null)
{
    <a asp-action="Index" class="btn btn-primary">Go Back</a>
}*@

