@model IEnumerable<Garage_2._0.Models.VehicleViewModel>

@{
    ViewData["Title"] = "Overview";

}

<h1>Overview</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Park a vehicle</a>
</p>
@if (TempData["message"] != null)
{
    <div class="alert alert-success" id="message">
       <i class="fas fa-check-circle pe-1"></i>@TempData["Message"]
    </div>
}
@if(TempData["Error"] != null)
{
        <div class="alert alert-danger" id="message">
         <i class="fas fa-exclamation-triangle pe-1"></i>@TempData["Error"]
    </div>
}

<form asp-action="Search">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="plate" placeholder="Enter License plate to search" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.License)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSpent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.License)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSpent)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.License" class="btn btn-primary">Make changes</a> 
                <a asp-action="Details" asp-route-id="@item.License" class="btn btn-primary">View details</a> 
                <a asp-action="Delete" asp-route-id="@item.License" class="btn btn-primary">Check out</a>
            </td>
        </tr>
}
    </tbody>
</table>
